* { 
	margin:0; 
	padding:0;
	box-sizing: border-box;
 }
 
body {
	background-color: #ebebeb;
	font-family: Arial, Helvetica, sans-serif;
}

button{
	font-size: 1vw;
	background-color: #ebebed;
	color: #51269b;
	border-color: #51269b;
	border-style: none none solid none;
	cursor: pointer;
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
	transition: color 0.2s, background-color 0.2s;
}
 
	button:hover{
		filter:brightness(130%);
	}
 
.height100 {
	 height: 100%;
}
 
.center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
 
.ver_center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.hor_center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.cursor_pointer {
	cursor: pointer;
}

.text_center {
	text-align: center;
}

.margin_bottom_2vw {
	margin-bottom: 2vw;
}
 
.padding_0 {
	padding: 0 !important;
}

.box_shadow {
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
 
 /*1-12 podział ekranu na 12 kolumn */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-13 {width: 14.28%;} /* 7 kolumn - kalendarz */
.col-14 {width: 12.5%;} /* 8 kolumn - apki */
 
[class*="col-"] {
	float: left;
	padding: 0.5vw;
}

.cred{ background-color: #d80000;}
.cdarkred{ background-color: #783c3c;}
.cgreen {background-color: #539f42;}
.cgreen2 {background-color: #6ba900;}
.cgreen3 {background-color: #50c900;}
.cgreen4 {background-color: #b4c43f;}
.cdarkgreen {background-color: #17490f;}
.cgranat {background-color: #2a406d;}
.cblue {background-color: #4395d1;}
.cblue2 {background-color: #2a7bc5;}

.dmenu{
	margin: 0vw;
	aspect-ratio: 12/4;
	padding: 0;
}

#loading {
	position: fixed;
	z-index: 2;
	height: 100%;
	width: 100%;
	background-color: pink;
	transition: 0.5s;
}

/* dashboard ==================================================================*/

.notify_tab {
	display: table-cell;
	height: 100%;
	position: relative;
	padding: 0.5vw;
}

.notify_title {
	height: 20%;
	font-size: 2vw;
}

	.notify_title div:first-child {
		float:left;
		width: 90%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.notify_title div:last-child {
		float: right;
		width: 10%;
		font-size: 40%;
		position: relative;
		top: 0;
		right: 0;
		color: grey;
	}

.notify_descr {
	width:100%;
	height: 75%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 1%;
	border: none;
	background-color: transparent;
	resize: none;
	font-size: 1vw;
}

	.notify_descr:focus {
		 outline: none !important;
	}

.notify_tab_dot {
	float: left;
	width: 10%;
	padding: 0;
}

	.notify_tab_dot div {
		background-color: grey;
		aspect-ratio: 1/1;
		height: 100%;
		border-radius: 50%;
		transition: 0.3s;
	}
	
		.notify_tab_dot div:hover {
			filter:brightness(130%);
		}

#notify_tab_area {
	height: 80%;
	padding: 0;
	overflow: hidden;
	border-bottom: 1px #dadada solid;
}

#notify_tab_table {
	height: 100%;
	position: relative;
    left: 0;
    display: table;
    table-layout: fixed;
    transition: 1s;
}

#notify_tab_controls {
	height: 20%;
	text-align: center;
}

/* apps =======================================================================*/

.apptile {
	position: relative;
	max-width: 100%;
	height: auto;
	margin: 0;
	font-size: 1.0vw;
}

	.apptile a { 
		text-decoration: none; 
		background-color: grey;
		color: white;
	}  
	 
	.apptile img {
		max-width: 40%;
		margin: 30%;
		height: auto;
	}

.tytul {
	position: absolute;
	font-weight: normal;
	left: 1.2vw;
	bottom: 1vw;
}

.container {
	position: relative;
	max-height: 0;
	overflow: hidden;
	background-color: #ebebed;
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
	transition: max-height 0.3s ease-in-out, padding 0.2s ease-in-out;
}

.category_button {
	background-color: #6e79f3;
	color: #f1f1f1;
	font-size: 1.4vw;
	transition: 0.3s;
	cursor: pointer;
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

	.category_button:hover {
		background-color: #949fff;
	}

.active {
	background-color: white;
	color: black;
}

	.active:hover {
		background-color: lightgrey;
	}

.logo {
	border: 5px solid #ebebed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	.logo:hover {
		border: 5px solid #a7aaaf;
		transition: 0.2s;
	}

/* calendar ===================================================================*/

.daytile {
	display: flex;
	align-items: center;
	text-align: center;
	background-color: #ebebed;
	transition: 0.3s;
	position: relative;
	aspect-ratio : 4 / 3;
	margin: 0;
	font-size: 1.3vw;
	cursor: pointer;
}

	.daytile:hover {
		filter: brightness(130%);
	}
		
	.daytile span {
		width: 100%;
	}

	#week .daytile {
		height: 100%;
	}

.greyout {
	background-color: #e5e5e5;
	color: #a3a2a2;
}

.focustile {
	background-color: #6e79f3;
    color: #ebebed;
}

.dot {
	position: absolute;
	font-weight: normal;
	left: 0.2vw;
	bottom: 0.2vw;
	background-color: #6e79f3;
	height: 1.5vw;
	aspect-ratio: 1/1;
	border-radius: 100%;
	color: #ebebed;
}

	.focustile .dot {
		color: #6e79f3;
		background-color: #ebebed;
	}

.border_right {
	border-right: solid 1px black;
}

	.border_right:nth-child(7n) {
		border: none;
	}

.event_button {
	background-color: #6e79f3;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.8vw;
	cursor: pointer;
	margin-bottom: 0.4vw;
	transition: 0.35s;
}

	.event_button:hover {
		filter: brightness(130%);
	}

	.event_button th {
		padding: 1vw;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
	}
	
		.event_button th:first-child {
			border-radius: 10px 0px 0px 10px;
		}
	
		.event_button th:last-child {
			text-align: left;
			border-radius: 0 10px 10px 0;
		}

.slide_in {
	padding: 0;
	display: block;
	height: 100%;
    width: 32vw;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -35%;
    background-color: #171f59;
    overflow-x: hidden;
}

.week_days_names {
	font-size: 0.8vw;
	background-color: #cdd0ff;
}

	#week .week_days_names {
		height: 15%;
	}

	#week .week_days_names div {
		height: 100%;
	}

#calendar {
	padding: 0;
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

#calendar_controls {
	background-color: #6e79f3;
	aspect-ratio: 18/1;
	text-align: center;
	color: white;
	font-size: 1.0vw;
	padding: 0;
}

#calendar_day {
	color: white;
	height: 100%;
}

#calendar_week_day {
	background-color: #6e79f3;
	aspect-ratio: 18/2;
	text-align: center;
	font-size: 0.9vw;
}

#calendar_events {
	table-layout: fixed;
	border-spacing: 2px 0.5vw;
}

#event_details_title {
	font-size: 1.8vw;
	aspect-ratio: 7/1;
	padding: 0;
	color: white;
	border-bottom: white 0.2vw solid;
}

#event_details_content {
	
}

	#event_details_content table {
		width: 100%;
		color: white;
		border-spacing: 0;
	}
	
	#event_details_content th {
		padding: 1.0vw;
		border-bottom: black solid 1px;
		background-color: #29316b;
	}
		
		#event_details_content th:first-child {
			padding-right: 0;
			text-align: right;
			width:10%;
		}
		
		#event_details_content th:last-child {
			text-align: left;
		}
		
		#event_details_content tr:nth-child(2n) th {
			background-color: #1e244e;
		}

#form_calendar {
	margin: 1vw;
	background-color: white;
	border-collapse: collapse;
	table-layout: auto;
}

	#form_calendar tr {
		padding: 0;
	}

	#form_calendar th {
		border: 1px solid black;
	}
	
	#form_calendar textarea {
		height: 10vw;
		resize: none;
	}

#week{
	height: 100%;
}

/* side menu and main =========================================================*/

.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 12vw; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #171f59; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}
	
	.sidenav img {
		height:1.6vw;
	}
	
	.sidenav span {
		color: #f1f1f1;
		font-size: 1.2vw;
	}
	
	.sidenav table {
		width: 100%;
		border: none;
		border-spacing: 0;
	}
	
	.sidenav tr {
		transition: 0.3s;
	}
	
		.sidenav tr:hover {
			color: #f1f1f1;
			background-color: #515aa1;
			cursor: pointer;
		}
	
	.sidenav th {
		padding: 0.5vw;
	}
	
		.sidenav th:first-child {
			text-align: right;
		}
		
		.sidenav th:last-child {
			text-align: left;
		}
	
.main {
	margin-left: 12vw; /* Same as the width of the sidebar */
	padding: 0;
}

.tabs {
	padding: 1vw;
	display: none;
	height: 100%;
	width: 100%;
}

.tab_link_active {
	color: #f1f1f1;
	background-color: #434c8d;
}

#puw_logo {
	items-align: center;
}

	#puw_logo img{
		height: 10vw;
	}

	#puw_logo div{
		text-decoration: none;
		font-size: 1.5vw;
		color: #f1f1f1;
	}

/* login ======================================================================*/

#login_form {
	background-color: #ebebed;
	color: #51269b;
}

	#login_form input {
		background-color: #ebebed;
		border: none;
		border-bottom: 1px #51269b solid;
		aspect-ratio: 5/1;
		outline: none;
	}
	
	#login_form input[type=image] {
		aspect-ratio: 1/1;
	}
	
	#login_form input[type=submit] {
		aspect-ratio: 12/2;
		border: none;
		background-color: #51269b;
		color: #ebebed;
	}